
:root {
    --main-color: white;
    scroll-behavior: smooth;
}
body .menu {
background: linear-gradient(90deg,darkslategrey,seagreen);
}

nav h1 {
    color: blue;
    font-size: 2rem; 
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 200px;
}
body .logo {
    color: var(--main-color);
font-size: 2rem;
font-weight: bold;
list-style-type: none;
display: flex;
justify-content: space-between;
align-item: center;
top: 10px;
left: 350px;
right: 500px;
}
.banner article {
    display: flex;
    align-item: right;
}
.banner h1 {
     font-size: 4rem;
     font-weight:normal;
     text-align: left;
     padding: center;
     margin: center;
     position: absolute;
     right: 150px;
     top: 100px;
     left: 700px;
 }
.banner p {
    font-size: 2rem;
     text-align: left;
     position: absolute;
     top: 350px;
     left: 700px;
     right: 150px;
 }

.banner img {
width: 50%;
position: relative;
top: 0px;
 }



